.App {
  max-width: var(--maxWidth-wrapper);
  margin: auto;
}

.App-header {
  background-color: #eb483d;
  height: 10rem;
  font-size: 4rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0 0 15px 15px;
}
